.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 300px;
  max-width: 300px;

  display: flex;
  text-align: left;
  flex-direction: column;
}

.form-utilities {
  font-size: 15px;
  margin-top: 10px;

  text-align: left;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 600;
  
  cursor: pointer;
}

.form-body {
  padding: 10px 20px;

  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);

  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.3);
  border-radius: 20px;
}

.form-label {
  display: block;
}

.form-input {
  display: block;
  outline: none;

  background-color: rgba(255, 255, 255, 0.07);
  color: white;

  height: 30px;
  padding: 0 10px;

  border: none;
  border-radius: 3px;
}
.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.form-button-container {
  margin-top: 10px;
  
  display: flex;
  align-items: center;
}

.form-button {
  background-color: rgba(5, 73, 245, 0.2);
  color: white;

  outline: none;
  cursor: pointer;

  width: 100%;
  padding: 15px 0;
  margin-top: 10px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 5px;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.form-button-loading {
  background-color: rgba(123, 158, 247, 0.2);
  cursor: not-allowed;
}

.loading::after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: '';
}

@keyframes dotty {
  0% { content: ''; }
  25% { content: '.'; }
  50% { content: '..'; }
  75% { content: '...'; }
  100% { content: '.'; }
}

@media screen and (max-width: 1000px) {
  .form-container {
    margin-top: 10px;
  }
}
